# Node modules
node_modules/

# Environment variables files
.env          # Common environment variables file
.env.local    # Local overrides
.env.development # Development environment variables
.env.test     # Test environment variables
.env.production # Production environment variables
.env*

# Logs
*.log

# Vercel files
.vercel/